body
{
    background:#fcfdfd;
}
footer
{
    text-align: right;
    margin-top:20px;
}
#resultSection{
    background-color: lightsteelblue;
    margin-top: 10px;
    border-radius: 6px;

}
nav
{
    box-shadow:5px 5px 10px lightgrey;
}
nav ul
{
    float: right;
    padding:0%;
}
nav ul li
{
    display: inline-block;
    line-height: 80px;
    margin:0 5px;
}
nav ul li:hover{
    border-bottom: 5px solid lightblue;
}
nav ul li a
{
    color: black;
    font-size: 17px;
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
}
div.logo
{
    color: blue;
}

#site-name{
    font-size: 25px !important;
}
