body
{
    background:#fcfdfd;
}
footer
{
    text-align: right;
    margin-top:20px;
}
#resultSection{
    background-color: lightsteelblue;
    margin-top: 10px;
    border-radius: 6px;
}
nav ul
{
    float: right;
    margin-right: 20px;
    padding:0%;
}
nav ul li
{
    display: inline-block;
    line-height: 80px;
    margin:0 5px;
}
nav ul li a
{
    color:#ffffff;
    font-size: 17px;
    text-transform: uppercase;
    background-color:#2f432f;
    padding: 10px;
    text-decoration: none;
}
div.logo
{
    color: blue;
}
a.active,a:hover
{
    background:antiquewhite ;
    transition: .5s;

}
.logo
{
    padding-top: 0px;
}
