body
{
    background:#fcfdfd;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
#resultSection{
    background-color: #00adef38;
    border-radius: 6px;
    margin-top:10px;
}
nav
{
    box-shadow:5px 5px 10px lightgrey;
}
nav ul
{
    float: right;
    padding:0%;
}
nav ul li
{
    display: inline-block;
    line-height: 80px;
    margin:0 5px;
}
nav ul li:hover{
    text-decoration: none;
}
nav ul li a
{
    color: black;
    font-size: 17px;
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
}

#site-name{
    font-size: 25px !important;
}
span.glyphicon glyphicon-trash
{
    float: right;
}
footer 
{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:skyblue;
    color: black;
    text-align: center;  
    padding: 10px;  
}
.btn
{
    background-color: skyblue;
    color: black;
}
.search-container
{
    padding-top: 200px;
}
