body
{
    background-color:#b9bebe;
}
.login-form
{
    margin-top: 200px;
    background-color: white;
    padding: 20px;
}
.login-form button.custom-submit-button {
    background-color: skyblue;
    color: white;
}